.user-table-container{
  width: 100%;
  padding: 10px;
  color: white;

}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid rgb(62, 61, 61);
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #5e1a50;}

#customers tr:hover {background-color: rgba(87, 12, 75, 0.404);}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #38023a;
  color: white;
}
